@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

/*=============== FONTS ===============*/
@font-face {
    font-family: "font-1";
    src: url(../fonts/Switzer-Extralight.ttf);
}

@font-face {
    font-family: "font-2";
    src: url(../fonts/Switzer-Light.ttf);
}

@font-face {
    font-family: "font-3";
    src: url(../fonts/Switzer-Regular.ttf);
}

@font-face {
    font-family: "font-4";
    src: url(../fonts/Switzer-Bold.ttf);
}

@font-face {
    font-family: "font-5";
    src: url(../fonts/Caveat-Regular.ttf);
}

/*=============== VARIABLES CSS ===============*/
:root {
    --color1: rgba(32, 32, 32, 1);
    --color2: rgba(255, 255, 255, 1);
    --color3: rgba(32, 32, 32, 1);
    --color4: rgba(112, 208, 56, 1);
    --color5: #16161669;
    --color6: #00000069;
}
/* Création des variables */
:root {
    --firstColor: rgba(32, 32, 32, 1);
    --secondColor: rgba(112, 208, 56, 1);
    --thirdColor: rgba(255, 255, 255, 1);
    --lightGrey: rgba(255, 255, 255, 0.2);
    --dark: rgba(16, 16, 16, 1);
    --blackDark: rgba(0, 0, 0, 1);
}
/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*::selection {
    background-color: var(--color5);
}

body {
    font-family: "font-3";
    font-size: 1rem;
    color: var(--color2);
    background-color: var(--color3);
}




*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{

    --green:rgba(112,208,56,1);
    --noir_clair:rgba(32,32,32,1);
    --blanc: rgba(255,255,255,1);
    --gris_clair:rgba(255,255,255,0.2);
    --sombre:rgba(16,16,16,1);
    --full_noir:rgba(0,0,0,1);
}
/* }
==================================
              FONTS
=================================== */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cinzel&family=Cinzel+Decorative:wght@700&family=Quicksand:wght@500&display=swap');


html, body /* <html> et <body> */
{
    width: 100%;
    /* Prend toute la largeur de la fenêtre */

    min-height: 100vh;
    /* Minimum 100% de la hauteur de la vue utilisateur */
}

.container /* <div class="container"> */
{
    width: 100%;
    /* Toute la largeur du parent (<body>) */

    height: 100%;
    /* Toute la hauteur du parent (<body>) */
    
   display: flex;

   flex-direction: column;
}















  
  
  /*=============== HEADER ===============*/
  header {
    height: 115px;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background-color: var(--color5);
    backdrop-filter: blur(5px);
    
  }
  
  .top-header {
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    backdrop-filter: blur(10px);
    z-index: 100;
    background-color: var(--color5);
  
  }
  
  
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    
  }
  
  a {
    text-decoration: none;
    color: var(--color2);
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  a:hover {
    color: var(--color4);
  }
  
  .icon {
    color: var(--color2);
    font-size: 1.2rem;
    border: 1px solid var(--color2);
    border-radius: 5px;
    
  }
  
  .icon:hover {
    font-size: 1.2rem;
    transition: 0.5s;
    background-color: var(--color4);
      transition: 0.2s;
    }
  
  
  .link a:nth-child(2n + 1) {
    display: none;
  }
  
  .billeterie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .bot-header {
    width: 100%;
    height: 40px;
    background-color: var(--color6);
    padding-right: 80px;
    
  
  }
  
  .reseaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    
  
  
  }
  
  
  .reseaux a:nth-child(0n + 2) {
    margin: 10px;
  }
  
  #logo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: auto;
  }
  
  
  
  
  
  /*=============== MAIN ===============*/

main {
    padding-top: 150px;
}

  
  section {
    width: fit-content;
    margin: 0 auto;
  }
  
  .container_boutique {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .container_boutique h2 {
    color: var(--color4);
    text-align: center;
    margin: 0 0 15px;
    font-family: "font-5";
    font-weight: 600;
    font-size: 3rem;
  }
  
  :has(.container_boutique) h3 {
    font-family: "font-5";
    font-size: 2rem;
  }
  
  .card_boutique {
    width: 100%;
  
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
  }
  
  .img_items_container {
    margin: auto 0;
  }
  
  .img_items_container img {
    height: 250px;
  }
  
  .card_boutique img {
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  
  .txt_items {
    width: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 1.2em;
  }
  
  .taille_items {
    display: flex;
    flex-wrap: wrap;
  
    gap: 7px;
  }
  
  .taille_items button {
    width: 38px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 0.70rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .taille_items button:focus {
    background-color: var(--green);
    border: 2px solid white;
  }
  
  .txt_items:has(h3),
  p {
    color: white;
  }
  
  .quantity_bar {
    width: 100%;
    outline: 1px solid white;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 20px;
    padding: 0.3em 0.7em;
    font-weight: 600;
    box-shadow: inset 0 0 10px 8px rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  
  .quantity_bar:hover {
    background-color: var(--green);
  }
  
  .buy_now {
    width: 100%;
    padding: 0.25em 0.5em;
    background-color: rgb(255, 255, 255);
    outline: 1px solid var(--green);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    box-shadow: inset 0 0 10px 4px rgb(41, 41, 41);
    color: #000;
    font-weight: 600;
    font-size: 1.025rem;
    margin-bottom: 10px;
  }
  
  .buy_now:hover {
    background-color: rgb(1, 199, 1);
    outline: 1px solid var(--blanc);
  }
  
  .buy_now:active {
    background-color: rgb(43, 255, 0);
  }
  
  details {
    width: 500px;
    min-height: 20px;
    border: 1px solid rgb(145, 106, 0);
    margin: 0 auto;
    background-color: var(--full_noir);
    font-weight: 600;
    font-size: 0.80rem;
    border-radius: 3px;
  
  }
  
  summary {
    width: 100%;
    color: white;
  
    display: flex;
    justify-content: start;
    align-items: center;
  
    background-color: var(--full_noir);
    gap: 5px;
    padding: 5px 15px;
  }
  
  details ul {
    padding: 10px;
    background-color: var(--gris_clair);
  }
  
  details li {
    color: white;
    font-size: 0.75rem;
  
  }
  
  details li>p {
    padding: 10px 0;
    line-height: 1.5;
  }
  
  details a {
    color: var(--green);
  }
  
  .show_details {
    margin: 10px 30px;
    text-decoration: underline;
  }
  
  .show_details a {
    color: var(--green);
  }
  
  .assos_container {
    width: fit-content;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  margin: 0 auto;
  }
  
  .cards_assos {
    width: 305px;
    height: 350px;
    background-color: #000;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
   
  }
  
  .cards_assos > div{
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
  gap: 30px;
  
  }
  
  
  .cards_assos img{
    width: 200px;
   display: block;
   margin: 0 auto;
   aspect-ratio: 3/2;
   object-fit: contain;
  }
  
  
  .cards_assos h2{
    color: var(--green);
    text-align: center;
  }
  
  .cards_assos a {
    color: var(--green);
  }
  
/* FOOTER */

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .btnSwiper {
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .spanSwiper {
    font-family: "font-2";
    letter-spacing: 1px;
    text-align: center;
  }
  
  #swiperClose {
    display: none;
  }
  
  .swiperjs {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: hsla(0, 0%, 0%, 0.75);
    display: none;
  }
  
  .swiper-button-prev {
    color: var(--color4);
  }
  .swiper-button-next {
    color: var(--color4);
  }
  
  .swiper-pagination-bullet-active {
    display: none;
  }
  
  
  /*=============== RESPONSIVE ===============*/
@media (min-width: 425px) and (max-width: 768px) {
    main {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  
  @media (min-width: 445px) and (max-width: 768px) {
    .streamers {
      grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
      grid-column: 1 / 4;
    }
  }
  
  @media (min-width: 769px) {
    main {
      padding-left: 20%;
      padding-right: 20%;
    }


    .link a:nth-child(2n + 1) {
      display: block;
    }
    .link a:nth-child(2n + 2) {
      display: none;
    }
    ul {
      width: 35%;
      height: 100%;
      max-width: 330px;
    }
    #logo {
      height: 100px;
      width: auto;
    }
  }
  


  