/*=============== FONTS ===============*/
@font-face {
  font-family: "font-1";
  src: url(../fonts/Switzer-Extralight.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../fonts/Switzer-Light.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../fonts/Switzer-Regular.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../fonts/Switzer-Bold.ttf);
}

@font-face {
  font-family: "font-5";
  src: url(../fonts/Caveat-Regular.ttf);
}

/*=============== VARIABLES CSS ===============*/
:root {

 --color1: rgba(32,32,32,1);
  --color2: rgba(255, 255, 255, 1);
  --color3: rgba(32,32,32,1);
  --color4: rgba(112,208,56,1);
  --color5: #16161669;
  --color6: #00000069;

}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*::selection {
  background-color: var(--color5);
}

body {
  font-family: "font-3";
  font-size: 1rem;
  color: var(--color2);
  background-color: var(--color3);
}


/*=============== HEADER ===============*/
header {
  height: 115px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  background-color: var(--color5);
  backdrop-filter: blur(5px);
  
}

.top-header {
  width: 100%;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  backdrop-filter: blur(10px);
  z-index: 100;
  background-color: var(--color5);

}



nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  
}

a {
  text-decoration: none;
  color: var(--color2);
  font-size: 0.8rem;
  font-weight: bold;
}

a:hover {
  color: var(--color4);
}

.icon {
  color: var(--color2);
  font-size: 1.2rem;
  border: 1px solid var(--color2);
  border-radius: 5px;
  
}

.icon:hover {
  font-size: 1.2rem;
  transition: 0.5s;
  background-color: var(--color4);
    transition: 0.2s;
  }


.link a:nth-child(2n + 1) {
  display: none;
}

.billeterie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.bot-header {
  width: 100%;
  height: 40px;
  background-color: var(--color6);
  padding-right: 80px;
  

}

.reseaux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  


}


.reseaux a:nth-child(0n + 2) {
  margin: 10px;
}

#logo {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: auto;
}





/*=============== MAIN ===============*/
main {
  z-index: 10;
  width: 100vw;
  padding: 20px;
}

#banniereZEvent {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 135px;

}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

p {
  font-family: "font-2";
  line-height: 25px;
}

.presentation p:nth-child(0n + 2) {
  margin-top: 20px;
  margin-bottom: 20px;
}

b {
  font-family: "font-4";
  color: var(--color4);
}

/* HISTORIQUE */

.historique {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

h1 {
  grid-column: 1 / 4;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
  font-family: "font-5";
}

.historique-container {
  background-color: var(--color1);
  border-radius: 5px;
  height: 80px;
  border: solid 0.1px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 5px;
}

.date {
  font-family: "font-4";
  font-size: 0.7rem;
}
.montant {
  font-family: "font-4";
  font-size: 1.3rem;
  color: var(--color2);
}

.asso {
  font-size: 0.7rem;
}

.h2022 {
  background-color: var(--color4);
}

/* STREAMERS */

.streamers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  width: 100%;
 
  
}

.streamer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



h2 {
  grid-column: 1 / 3;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
}

.img-streamer {
  border: 8px solid var(--color1);
  border-radius: 25px;
  height: 150px;
}

.img-streamer:hover {
  border: 8px solid var(--color4);
  transition: 0.2s;
}

.span-streamer {
  font-family: "font-4";
  font-size: 1rem;
  color: var(--color2);
  padding-top: 10px;
}

.streamer:hover span {
  color: var(--color4);
  transition: 0.2s;
}



/*=============== RESPONSIVE ===============*/
@media (min-width: 425px) and (max-width: 768px) {
  main {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 445px) and (max-width: 768px) {
  .streamers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    grid-column: 1 / 4;
  }
}

@media (min-width: 769px) {
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
  .streamers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    grid-column: 1 / 4;
  }
  .link a:nth-child(2n + 1) {
    display: block;
  }
  .link a:nth-child(2n + 2) {
    display: none;
  }
  ul {
    width: 35%;
    height: 100%;
    max-width: 330px;
  }
  #logo {
    height: 100px;
    width: auto;
  }
}

@media (min-width: 1025px) {
  .streamers {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h2 {
    grid-column: 1 / 5;
  }
  main {
    padding-left: 25%;
    padding-right: 25%;
  }
}
